

body	{
	font-family: "arial";
		}
		
.indexP	{ /* aligns main page text to justify */
	text-align: justify;
	}
	
a	{
	color: #008000;	
	text-decoration: none;
	}

a:hover	{
	color: #ffffff;
	background: #00cc00
		}
	
.divCenter	{ /* used to center text in header and footer on all pages*/
	text-align: center;
			{


